@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --main-background: 0 0% 99%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 85.8%;
    --input: 0 0% 85.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 82.1%;
    --secondary-foreground: 0 0% 9%;

    --tertiary: 0 0% 75.1%;
    --tertiary-foreground: 0 0% 9%;

    --accent: 0 0% 94.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.25rem;
  }

  .dark {
    --background: 0 0% 4.9%;
    --main-background: 0 0% 3.9%;
    --foreground: 0 0% 89%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 4.2%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 17.9%;
    --input: 0 0% 17.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 45%;
    --secondary-foreground: 0 0% 98%;

    --tertiary: 0 0% 38%;
    --tertiary-foreground: 0 0% 98%;

    --accent: 0 0% 9.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-main-background text-foreground;
    transition: background 0.2s;
  }
}
